//utility classes

//text-atoms
fzDefine(text-type: ttl, list: titles-size, units: em, n: 9)
fzDefine(text-type: txt, list: text-size, units: em, n: 1)

@media(min-width 1200px) {
  fzDefine(text-type: ttl, list: titles-size, units: vmax, n: 0)
}
@media(min-width 1600px) {
	fzDefine(text-type: txt, list: text-size, units: vmax, n: 0)
}

//organicss grid
.cell
	flex-grow 1
for i in (1..12)
	.fb-{i}
		flex-basis percentage(i/12)
		&--d
			@media(min-width 992px)
				flex-basis percentage(i/12)
		&--t
			@media(max-width 992px)
				flex-basis percentage(i/12)
		&--m
			@media(max-width 767px)
				flex-basis percentage(i/12)

//display-atoms
.none
	adaptability(a: '', b: 'display', c: none)
.i-block
	adaptability(a: '', b: 'display', c: inline-block)
.block
	adaptability(a: '', b: 'display', c: block)
.inline
	adaptability(a: '', b: 'display', c: inline)
//flex-atoms
.flex
	display flex
	flex-flow row wrap
.flex-center
	adaptability(a: '.flex', b: 'justify-content', c: center)
.flex-between
	adaptability(a: '.flex', b: 'justify-content', c: space-between)
.flex-around
	adaptability(a: '.flex', b: 'justify-content', c: space-around)
.flex-start
	adaptability(a: '.flex', b: 'justify-content', c: flex-start)
.flex-end
	adaptability(a: '.flex', b: 'justify-content', c: flex-end)
//----------------------------vertical-aligment
.ai-center
	adaptability(a: '', b: 'align-items', c: center)
.ai-stretch
	adaptability(a: '', b: 'align-items', c: stretch)
.ai-start
	adaptability(a: '', b: 'align-items', c: flex-start)
.ai-end
	adaptability(a: '', b: 'align-items', c: flex-end)

//-----------------------------direction
.fd-reverse
	adaptability(a: '', b: 'flex-direction', c: row-reverse)
.fd-column
	adaptability(a: '', b: 'flex-direction', c: column)
.fd-column-reverse
	adaptability(a: '', b: 'flex-direction', c: column-reverse)


//transition atoms
for i in (2 4 6 8 10)
	.transition-{i}
		transition all (i / 10)s ease



//fonts
.center
	adaptability(a: '', b: 'text-align', c: center)
.text-left
	adaptability(a: '', b: 'text-align', c: left)
.text-right
	adaptability(a: '', b: 'text-align', c: right)
.f-main
	font-family main-font
.f-extra
	font-family additional-font

//-----------------------------colors
colorMaker(class-name: c, prop: 'color', list: colors)
.accent-color:hover
	@extend .c-accent

//--------------------------transform
.uppercase
	text-transform uppercase
.capitalize
	text-transform capitalize
.lowercase
	text-transform lowercase
.italic
	font-style italic
.normal-font
	font-style normal



// //background-colors
colorMaker(class-name: bg, prop: 'background-color',list: colors)
.bg-transparent
	background-color transparent

.accent-hover
  &:hover
	  @extend .bg-accent

.background-fixed
	@media(min-width 992px)
		background-attachment fixed
.background-center
	background-position center
.background-bottom
	background-position bottom
.full-bg
	background-size cover
.bg-100
	background-size 100% auto






//position atoms
.absolute
	adaptability(a: '', b: 'position', c: absolute)
.relative
	adaptability(a: '', b: 'position', c: relative)
.fixed
	adaptability(a: '', b: 'position', c: fixed)
.sticky
	adaptability(a: '', b: 'position', c: sticky)

.top
	adaptability(a: '', b: 'top', c: 0)
.left
	adaptability(a: '', b: 'left', c: 0)
.right
	adaptability(a: '', b: 'right', c: 0)
.bottom
	adaptability(a: '', b: 'bottom', c: 0)

.behind-top
	adaptability(a: '', b: 'bottom', c: 100%)
.behind-left
	adaptability(a: '', b: 'right', c: 100%)
.behind-right
	adaptability(a: '', b: 'left', c: 100%)
.behind-bottom
	adaptability(a: '', b: 'top', c: 100%)

//z-index
for i in (-1..10)
	.z-{i}
		z-index  i

//opacity
for i in (0..10)
	.visible-{i}
		opacity (i / 10)
//font-weight
for i in 300 400 500 700 900
	.fw-{i}
		font-weight i
//line-height
for i in (1..6)
	.lh-{i}
		line-height (1 + (i / 10))em

//border-radius
for i in  5 10 15 20 25 30 100
	.border-radius-{i}
		border-radius (i)px
.circle
	border-radius  50%


//resets atoms
.padding-0
	padding 0
.margin-0
	margin 0
.top-reset
	top auto !important
.bottom-reset
	bottom auto !important
.right-reset
	right auto !important
.left-reset
	left auto !important
.width-reset
	width auto !important
.height-reset
	height auto !important
.border-reset
	border none
.collapse
	transform scale(0)
	opacity 0


//size atoms
.h-100
	height 100%
.w-100
	width 100%
.mh-100
	max-height:  100%
.mw-100
	max-width 100%
.vh-100
	adaptability(a: '', b: 'min-height', c: 100vh)

//cursor atoms
.pointer
	cursor pointer
.arrow
	cursor default

//overflow atoms
.o-hidden
	adaptability(a: '', b: 'overflow', c: hidden)
.o-hidden--x
	overflow-x hidden
.o-hidden--y
	overflow-y hidden
.o-auto
	overflow auto
