//page elements indent
.title 
	padding vw(title-top) 0 vw(title-bottom)
.section
	padding vw(section-top) 0 vw(section-bottom)
.button 
	padding vw(button-v) vw(button-h)
.list 
	padding 0
.link 
	@extend .i-block	
.wrap 
	width 100%
	margin 0 auto
	@media(min-width 992px)
		width work-size
