//================================
//flex-atoms
.flex {
	display: flex;
	flex-flow: row wrap;
}
.flex-center {
	@extend .flex;
	justify-content: center;
}
.flex-between {
	@extend .flex;
	justify-content: space-between;
}
.flex-around {
	@extend .flex;
	justify-content: space-around;
}

.flex-start {
	@extend .flex;
	justify-content:flex-start;
}
.flex-end {
	@extend .flex;
	justify-content:flex-end;
}
//----------------------------
.ai-center {
	align-items: center;
}
.ai-start {
	align-items: flex-start;
}
.ai-end {
	align-items: flex-end;
}
//-----------------------------
.fd-reverse {
	flex-direction: row-reverse;
}
.fd-column {
	flex-direction: column;
}
.fd-column-reverse {
	flex-direction: column-reverse;
}
//-------------------------------
//===============================
//indent atoms
.section {
	margin: vh($section-margin-h) vw($section-margin-w);
	padding: vh($section-padding-h) vw($section-padding-w);
}
.wrap {
	width: $work-size;
	margin: 0 auto;
}
//===============================
//grid
.g-1 {
	width: percentage(1/1);
}
.g-2 {
	width: percentage(1/2);
}
.g-3 {
	width: percentage(1/3);
}
.g-4 {
	width: percentage(1/4);
}
.g-5 {
	width: percentage(1/5);
}
.g-6 {
	width: percentage(1/6);
}
//================================
//fonts
.ttl {
  @include viewPortFonts($titles-size);
}
.txt {
  @include viewPortFonts($text-size)
}

//================================
//colors
.m-fill {
	background-color: $main-color;
}
.a-fill {
	background-color: $accent-color;
}
.b-fill {
	background-color: $body-color;
}
.ad-fill {
	background-color: $additional-color;
}
//------------------------------
.m-color {
	color: $main-color;
}
.a-color {
	color: $accent-color;
}
.b-color {
	color: $body-color;
}
.t-color {
	color: $text-color;
}
.d-color {
	color: $text-color;
}
.tl-color {
	color: $title-color;
}
.sl-color {
	color: $subtitle-color;
}
.tt-color {
	color: $text-color;
}
.st-color {
	color: $subtext-color;
}
//---------------------------------
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.fixed {
	position: fixed;
}
.absolute-start {
	@extend .absolute;
	top: 0;
	left: 0;
}
.absolute-end {
	@extend .absolute;
	bottom: 0;
	right: 0;
}
//----------------------------------
.i-block {
	display: inline-block;
}
.block {
	display: block;
}
.inline {
	display: inline;
}
//----------------------------------
.h-100 {
	height: 100%;
}
.w-100 {
	width: 100%;
}
.full {
	height: 100%;
	width: 100%;
}
//-----------------------------------
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
