em(pixels)
 return (pixels/browser-context)em

vw(pixels)
 return (pixels/screen-width * 100)vw

vh(pixels)
  return (pixels/screen-height * 100)vh

vmax(pixels)
 return (pixels/screen-width * 100)vmax


fzDefine(text-type, list, units, n)
    for name, size in list
      .{text-type}-{name}
        font-size: units(size - n)




adaptability(a,b,c) 
	if a != ''
		@extend {a} 
	{b}(c)
	&--m
		if a != ''
			@extend {a} 
		@media(max-width 992px)
			{b}(c)
	&--d 
		if a != ''
			@extend {a}
		@media(min-width 992px)
			{b}(c)
