//colors
main-color       =	#1b3326
accent-color     =  #bcd0bc
body-color       =	#ffffff
additional-color =  #9fbc9f
footer-color     =  #131113
text-color       =  #131113
subtext-color    =  #5a595a
title-color      =  #1b3326 
subtitle-color   =  #6e6e8c
border-color     =  #ecf2ec


//-social-media
facebook-color   =  #3b5998
youtube-color  = #cc181e
instagram-color    = #8a3ab9

//fonts
main-font       =  'Source Sans Pro', sans-serif
additional-font = 'Lora', sans-serif;

//sizes
browser-context =   16
screen-width    =   1920
screen-height   =   1000
work-size       =   79.63%

//title-sizes
xxl-title =   50
xl-title = 48
l-title = 42
m-title =   36 
sm-title = 28
s-title =   26
xs-title =  24
xxs-title =  22

//text-sizes
l-text   = 20
m-text   = 18
s-text   = 16
xs-text  = 14
xxs-text = 12


//title-sizes
titles-size = {
  xl:  xl-title,
  xxl: xxl-title,
  l:  l-title
  m:  m-title,
  sm: sm-title,
  s:  s-title,
  xs: xs-title
  xxs: xxs-title
}

//text-sizes
text-size = {
  l:  l-text,
  m:  m-text,
  s:  s-text,
  xs: xs-text,
  xxs: xxs-text
}


section-top = 210
section-bottom = 210
button-v  = 14
button-h = 50
title-top =  0
title-bottom = 0