//colors
main-color       =  #1c1c19
accent-color     =  #c42a22
body-color       =  #ffffff
additional-color =  #9fbc9f
footer-color     =  #131113
text-color       =  #131113
subtext-color    =  #979797
light-color      =  #f7f7f7
title-color      =  #8e8e8e  
subtitle-color   =  #6e6e8c
border-color     =  #ebebeb
configurator-active = #cbcaca

colors = {
  main           :  main-color
  accent         :  accent-color
  body           :  body-color
  additional     :  additional-color
  footer         :  footer-color
  text           :  text-color
  subtext        :  subtext-color
  light          :  light-color
  title          :  title-color
  subtitle       :  subtitle-color
  border         :  border-color
  configurator   :  configurator-active
}


//-social-media
facebook-color   =  #3b5998
youtube-color  = #cc181e
instagram-color    = #8a3ab9

//fonts
main-font       =  sans-serif;   
additional-font =  serif;

//sizes
browser-context =   16
screen-width    =   1920
screen-height   =   1000
work-size       =   87.63%



//title-sizes
titles-size = {
  xl:  46,
  l:  42
  m:  36,
  sm: 34,
  s:  32,
  xs: 26
  xxs: 24
}

//text-sizes
text-size = {
  xl: 22
  l:  20,
  m:  18,
  s:  16,
  xs: 14,
  xxs: 12
}


section-top = 66
section-bottom = 140
button-v  = 14
button-h = 50
title-top =  0
title-bottom = 35
