//colors
colors = {
  main           :  #1c1c19
  accent         :  #c42a22
  body           :  #ffffff
  additional     :  #9fbc9f
  footer         :  #131113
  text           :  #131113
  subtext        :  #979797
  light          :  #f7f7f7
  title          :  #8e8e8e
  subtitle       :  #6e6e8c
  border         :  #ebebeb
  configurator   :  #cbcaca
  facebook       :  #3b5998
  youtube        :  #cc181e
  instagram      :  #8a3ab9
}


//fonts
main-font       =  sans-serif;
additional-font =  serif;

//title-sizes
titles-size = {
  xl:  46,
  l:  42
  m:  36,
  sm: 34,
  s:  32,
  xs: 26
  xxs: 24
}

//text-sizes
text-size = {
  xl: 22
  l:  20,
  m:  18,
  s:  16,
  xs: 14,
  xxs: 12
}


//main sizes
browser-context =   16
screen-width    =   1920
screen-height   =   1000
work-size       =   87.63%

section-top = 66
section-bottom = 140
button-v  = 14
button-h = 50
title-top =  0
title-bottom = 35
