//text-atoms
fzDefine(ttl, titles-size, em, 9)
fzDefine(txt, text-size, em, 1)	

@media(min-width 1200px) {
  fzDefine(ttl, titles-size, vmax, 0)
}
@media(min-width 1600px) {
	fzDefine(txt, text-size, vmax, 0)	
}


//display-atoms
.none 
	adaptability(a: '', b: 'display', c: none)
.i-block 
	adaptability(a: '', b: 'display', c: inline-block)
.block 
	adaptability(a: '', b: 'display', c: block)
.inline 
	adaptability(a: '', b: 'display', c: inline)
//flex-atoms
.flex 
	display flex
	flex-flow row wrap
.flex-center 
	adaptability(a: '.flex', b: 'justify-content', c: center)
.flex-between 
	adaptability(a: '.flex', b: 'justify-content', c: space-between)
.flex-around 
	adaptability(a: '.flex', b: 'justify-content', c: space-around)
.flex-start
	adaptability(a: '.flex', b: 'justify-content', c: flex-start)
.flex-end 
	adaptability(a: '.flex', b: 'justify-content', c: flex-end)
//----------------------------vertical-aligment 
.ai-center 
	adaptability(a: '', b: 'align-items', c: center)
.ai-stretch 
	adaptability(a: '', b: 'align-items', c: stretch)
.ai-start 
	adaptability(a: '', b: 'align-items', c: flex-start)
.ai-end 
	adaptability(a: '', b: 'align-items', c: flex-end)

//-----------------------------direction
.fd-reverse 
	adaptability(a: '', b: 'flex-direction', c: row-reverse)
.fd-column 
	adaptability(a: '', b: 'flex-direction', c: column)
.fd-column-reverse 
	adaptability(a: '', b: 'flex-direction', c: column-reverse)

//container
.wrap 
	width 100%
	margin 0 auto
	@media(min-width 992px)
		width work-size
	


//fonts 
.center 
	adaptability(a: '', b: 'text-align', c: center)
.text-left 
	adaptability(a: '', b: 'text-align', c: left)
.text-right
	adaptability(a: '', b: 'text-align', c: right)
.ff-main 
	font-family main-font
.ff-extra 
	font-family additional-font


//background-colors
.bg-border
	background-color border-color 
.bg-main
	background-color main-color
.bg-main--50
	background-color transparentify(main-color, main-color, .5)
.bg-accent
	background-color accent-color
.bg-text
	background-color text-color
.bg-title
	background-color title-color
.bg-body 
	background-color body-color
.bg-additional
	background-color additional-color
.bg-subtext
	background-color subtext-color
.bg-footer
	background-color footer-color	
.bg-transparent
	background-color transparent
.accent-hover:hover
	background-color accent-color
.background-fixed
	@media(min-width 992px)
		background-attachment fixed
.background-center	
	background-position center
.background-bottom
	background-position bottom
.full-bg
	background-size cover
.bg-100
	background-size 100% auto


//fonts
//-----------------------------colors
.c-main 
	color main-color
.c-body
	color body-color
.c-text
	color text-color
.c-title 
	color title-color
.c-additional
	color additional-color
.c-accent 
	color accent-color
.c-subtext
	color subtext-color
.c-subtitle
	color subtitle-color
.c-footer 
	color footer-color
.accent-color:hover 
	color accent-color

//-----------------------------styles
.uppercase 
	text-transform uppercase
.capitalize 
	text-transform capitalize
.lowercase 
	text-transform lowercase
.italic 
	font-style italic
.normal-font 
	font-style normal



//position atoms
.absolute 
	adaptability(a: '', b: 'position', c: absolute)
.relative 
	adaptability(a: '', b: 'position', c: relative)
.fixed 
	adaptability(a: '', b: 'position', c: fixed)
.sticky 
	adaptability(a: '', b: 'position', c: sticky)
	
.top 
	adaptability(a: '', b: 'top', c: 0)
.left
	adaptability(a: '', b: 'left', c: 0)
.right
	adaptability(a: '', b: 'right', c: 0)
.bottom 
	adaptability(a: '', b: 'bottom', c: 0)
	
.behind-top
	bottom 100%
.behind-left 
	right 100%
.behind-right 
	left 100%	
.behind-bottom
	top 100%

//z-index 
for i in (-1..10)
	.z-{i}
		z-index  i

//opacity
for i in (0..10)
	.visible-{i}
		opacity (i / 10)
//font-weight
for i in 300 400 500 700 900
	.fw-{i}
		font-weight i	
//line-height
for i in (1..6)
	.lh-{i}
		line-height (1 + (i / 10))em

//border-radius
for i in  5 10 20 30 35 300
	.border-radius-{i}
		border-radius (i)px
.circle 
	border-radius  50%


//resets atoms
.padding-0
	padding 0
.margin-0
	margin 0
.top-reset
	top auto !important
.bottom-reset
	bottom auto !important
.right-reset
	right auto !important
.left-reset
	left auto !important
.width-reset 
	width auto !important
.height-reset 
	height auto !important
.border-reset
	border none
.collapse 
	transform scale(0)
	opacity 0

//greed atoms
.g-1 
	width percentage(1/1)
.g-2
	flex-basis 50%
	&-s
		@extend .g-1
		@media(min-width 767px)
			flex-basis 50%
	&-m
		@extend .g-1
		@media(min-width 992px)
			flex-basis 50%
.g-3 
	flex-basis 33%
	&-s 
		@extend .g-1
		@media(min-width 767px)
			flex-basis 33%
	&-m
		@extend .g-1
		@media(min-width 992px)
			flex-basis 33%

.g-4 
	flex-basis 25%
	&-s
		@extend .g-1
		@media(min-width 576px)
			flex-basis 50%
		@media(min-width 767px)
			flex-basis 25%
	&-m
		@extend .g-1
		@media(min-width 992px)
			flex-basis 25%
		
.g-5 
	flex-basis 20%
	&-s
		@extend .g-1
		@media(min-width 767px)
			flex-basis 20%
	&-m
		@extend .g-1
		@media(min-width 992px)
			flex-basis 20%
		
.g-6 
	flex-basis 16.5%
	&-s 
		@extend .g-1
		@media(min-width 767px)
			flex-basis 16.5%
	&-m
		@extend .g-1
		@media(min-width 992px)
			flex-basis 16.5%





//size atoms
.h-100 
	height 100%
.mh-100 
	max-height:  100%
.w-100 
	max-width 100%
.w-50 
	width 50%
.w-50-m
	@media(min-width 992px)
		width 50%
.vh-100 
	min-height 100vh


//cursor atoms
.pointer 
	cursor pointer
.arrow 
	cursor default

//transition atoms
.fluency 
	transition all .4s ease		
.fluency--fast 
	transition all .2s ease
.fluency--slow
	transition all .8s ease

//overflow atoms
.o-hidden
	overflow hidden
.o-hidden--x 
	overflow-x hidden
.o-hidden--y
	overflow-y hidden
.o-auto
	overflow auto

//page elements indent
.title 
	padding vw(title-top) 0 vw(title-bottom)
.section
	padding vw(section-top) 0 vw(section-bottom)
.button 
	padding vw(button-v) vw(button-h)