//colors
$main-color:						#563d7c;
$accent-color:					#00aaef;
$additional-color:			#eeeeee;
$body-color:     				#ffffff;
$title-color: 					#6a06a4;
$subtitle-color:				#000000;
$text-color: 					  #6a06a4;
$subtext-color:				  #6a06a4;

//fonts
$main-font: sans-serif;
$additional-font: sans-serif;
$fd-font: sans-serif;
$sd-font: sans-serif;
$td-font: sans-serif;

//sizes
$browser-context:  16;
$screen-width:     1920;
$screen-height:    1000;
$work-size:        68%;

//title-sizes
$l-title:  50;
$m-title:  40;
$s-title:  30;
$xs-title: 20;

//text-sizes
$l-text:  18;
$m-text:  16;
$s-text:  15;
$xs-text: 14;

//title-sizes
$titles-size: (
  l:  $l-title,
  m:  $m-title,
  s:  $s-title,
  xs: $xs-title
);
//text-sizes
$text-size: (
  l:  $l-text,
  m:  $m-text,
  s:  $s-text,
  xs: $xs-text
);

//indents
$section-margin-h:  0;
$section-margin-w:  0;
$section-padding-h: 50;
$section-padding-w: 0;

$button-padding-h: 2;
$button-padding-w: 4;
$button-margin-h: 0;
$button-margin-w: 0;
$button-border: 1;
