//colors
$main-color:						#563d7c;
$accent-color:					#00aaef;
$additional-color:			#eeeeee;
$body-color:     				#ffffff;
$title-color: 					#6a06a4;
$subtitle-color:				#000000;
$text-color: 					  #6a06a4;
$subtext-color:				  #6a06a4;

//fonts
$light-font:   'ubuntu-l';
$regular-font: 'ubuntu-r';
$medium-font:  'ubuntu-m';
$bold-font:    'ubuntu-b';

//sizes
$browser-context:  16;
$screen-width:     1920;
$screen-height:    1000;
$work-size:        68%;

//title-sizes
$l-title:  50;
$m-title:  40;
$s-title:  30;
$xs-title: 20;

//text-sizes
$l-text:  20;
$m-text:  18;
$s-text:  16;
$xs-text: 14;

//indents
$section-margin-h:  0;
$section-margin-w:  0;
$section-padding-h: 50;
$section-padding-w: 0;

$button-padding-h: 2;
$button-padding-w: 4;
$button-margin-h: 0;
$button-margin-w: 0;
$button-border: 1;
